<h1>Concentration!</h1>
<div class="hud">
  Score: <span class="current-score">0</span><br>
  Cards left in deck: <span class="current-deck">30</span>
</div>
<div class="board">
</div>
<script type="text/javascript">
  var game = new Concentration();
  game.setup();
  console.log(game.gameOver())
</script>
